html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
  left:800px;
}

@media (max-width:1196px) {
  #bear {
    position:inherit;
    left:800px;
  }
}

